{% extends 'base.html' %}

  {% block title%} paper list {% endblock %}

{% block content %}
    <ul>
        {% for paper in paper %}
      <li>

              <a href="{{paper.get_absolute_url}}"
             style="color: black; text-decoration: none">
              {{paper.title}} / citation: ({{paper.citation}})</a>
      </li>
        {% endfor %}
    </ul>
    <p>
        sum of published papers : {{sum_of_papers}}
    </p>
    <p>
        average citations of papers : {{average_citations.citation__avg}}
    </p>
{% endblock %}