
<footer id="footer"><!--Footer-->
            <div class="row">
                    <div class="companyinfo">
                        <h2>Web of science</h2>
                        <h4>About Us :</h4>
                        <p>The is a comprehensive paper repository. you can find any published paper</p>
                    </div>
            </div>
            <div class="row">
                        <h2>Service</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Online Help</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Colaborate Us</a></li>
                            <li><a href="#">FAQ’s</a></li>
                        </ul>
            </div>
</footer><!--/Footer-->